body {
  font-family: "Poppins", sans-serif;
}
.weatherapp {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 40px 40px 40px;
  background: linear-gradient(#fcfcfc 60%, lightcoral);
  border-radius: 10px;
  border: solid;
  border-color: fuchsia;
}
h1 {
  display: block;
  text-align: left;
  background: linear-gradient(to right, lightcoral 45%, white);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: solid 2px;
  border-color: fuchsia;
}
h2 {
  margin-top: 20px;
  color: fuchsia;
  font-size: 50px;
}

h3 {
  color: rgb(32, 226, 252);
}

h5 {
  text-align: center;
  color: greenyellow;
  font-size: 1.2rem;
}

h4 {
  text-transform: capitalize;
  color: indigo;
}
.currentDayAndTime {
  color: greenyellow;
  font-size: 20px;
}
.city {
  font-weight: 500;
}
.card {
  display: block;
  border-color: fuchsia;
  width: 9.5rem;
  background: white;
  transition: 150ms all;
}
.card:hover {
  background: linear-gradient(rgb(32, 226, 252), white, rgb(32, 226, 252));
}

.weatherComment {
  color: fuchsia;
  font-size: 30px;
}
.search-button {
  color: white;
  padding: 8px;
  font-size: 20px;
}
.current-button {
  color: white;
  padding: 8px;
  font-size: 20px;
  background: greenyellow;
}

.currentWeather {
  text-transform: capitalize;
  font-size: 20px;
  text-align: left;
  color: rgb(32, 226, 252);
}
.currentHumidity {
  text-transform: capitalize;
  font-size: 20px;
  text-align: left;
  color: rgb(32, 226, 252);
}

.windWeather {
  text-transform: capitalize;
  font-size: 20px;
  text-align: left;
  color: rgb(32, 226, 252);
}
.current-temp {
  line-height: 1;
  font-weight: 500;
  font-size: 80px;
  color: orange;
}
.fahrenheit-link {
  color: white;
  text-decoration: none;
}
.footer-link {
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  color: skyblue;
}
.hourly-time-forecast {
  color: greenyellow;
}

.hourly-time-description {
  color: rgb(32, 226, 252);
  font-size: 20px;
}

.hourly-forecast-temp {
  color: orange;
  font-size: 26px;
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-temp-max {
  font-weight: bolder;
  color: orange;
}

.weather-forecast-temp-min {
  color: orange;
}
.alternative-temp {
  color: indigo;
}
